
#nav{
    background-color: #59C1BD;
    
  }

  body::before{
    background-image: url('lo.png');
    background-repeat: repeat;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1; /* Opacité de l'image de fond */
  }
  
  .col-auto{
    background-color: #59C1BD;
    border-radius: 10px;
    
  }

  .btn{
    padding: 10px 20px;
  }
  